{"name":"MONARCA","symbol":"MNCA","description":"Token MONARCA (MNCA) — definido en contrato Monarca.","image":"https://gateway.pinata.cloud/ipfs/bafybeiflwivdygssbqyf3vwlzzyd4wixmonln3lp3zwwgyiy4jyiwgvpiu","external_url":"https://tu-dominio.com","decimals":6}
